@model JQueryValidation.Models.RSVPResponse
@{
    ViewBag.Title = "RegistrationForm";
}

<h2>RegistrationForm</h2>

<div class="row">
    <div class="col-lg-6">
        <h3>RSVP Form</h3>
        @using (Html.BeginForm("RegistrationForm", "Home", null, FormMethod.Post, new {id = "rsvpForm"}))
        {
            @Html.ValidationSummary()

            <div class="form-group">
                <label>Your Name</label>
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label>Your Email</label>
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label>Your Phone</label>
                @Html.TextBoxFor(m => m.Phone, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label>Your Favirote Game</label>
                @Html.TextBoxFor(m => m.FavoriteGame, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label>Will You Attend</label>
                @Html.DropDownListFor(m => m.WillAttend, new[]
                {
                    new SelectListItem() {Text = "Yes", Value = bool.TrueString},
                    new SelectListItem() {Text = "No", Value = bool.FalseString}
                }, "Choose an option", new {@class = "form-control"})
            </div>
            <button class="btn btn-primary">Submit</button>
        }
    </div>
</div>
@section scripts
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
}
