@model HRPortal.Models.Data.Job
@{
    ViewBag.Title = "Apply";
}

<h2>You are applying for the @Html.DisplayFor(m=>m.Position) position</h2>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Personal Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Fist Name</label>
                            @Html.TextBoxFor(m => m.Person.FirstName, new {@class = "form-control",})
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            @Html.TextBoxFor(m => m.Person.LastName, new {@class = "form-control",})
                        </div>
                        <div class="form-group">
                            <label>Street</label>
                            @Html.TextBoxFor(m => m.Person.Address.Street, new {@class = "form-control",})
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            @Html.TextBoxFor(m => m.Person.Address.City, new {@class = "form-control",})
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            @Html.TextBoxFor(m => m.Person.Address.State, new {@class = "form-control",})
                        </div>
                        <div class="form-group">
                            <label>Zip Code</label>
                            @Html.TextBoxFor(m => m.Person.Address.ZipCode, new {@class = "form-control",})
                        </div>
                        <button class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>