@model List<HRPortal.Models.Data.Job>
@{
    ViewBag.Title = "Jobs";
}


<div class="row">
    <div class="col-xs-12">
        <h3>Current Job Openings</h3>
        @Html.ActionLink("Add Job","AddJob","Job",null,new {@class="btn btn-primary"})
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
            <tr>
                <th>Jobs</th>
                <th>Discription</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var j in Model)
            {
                <tr>
                    <td>@j.Position</td>
                    <td>@j.Discription</td>
                    <td>@Html.ActionLink("Edit", "EditJob", "Job", new {id = j.JobId}, null) |
                        @Html.ActionLink("Delete", "DeleteJob", "Job", new {id = j.JobId}, null) |
                        @Html.ActionLink("Apply", "Apply", "Job", new {id = j.JobId},null)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>