@model StabBlog.Models.ViewModels.WeaponVM
@{
    ViewBag.Title = "CreateWeaponPage";
}

<h2>Create Weapon Page</h2>

<div class="row">
    @using (Html.BeginForm("CreateWeaponPage", "Post", FormMethod.Post, new {@id="postForm"}))
    {
        <div class="form-group">
            <label>Please enter the weapons name</label>
            @Html.TextBoxFor(m => m.Weapon.Title, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label>Enter the image Path for the weapon:</label>
            @Html.TextBoxFor(m => m.Weapon.ImagePath, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>What Exhibit is this weapon in:</label>

            @Html.DropDownListFor(m => m.Weapon.ExhibitId, Model.Exhibits, "Select an Exhibit", new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label>Enter the content for the page below</label>
            @Html.TextAreaFor(m => m.Weapon.Content)
        </div>
        <div class="form-group">
            <label>Is this weapon coming soon to the exhibit:</label>
            @Html.CheckBoxFor(m => m.Weapon.ComingSoon, new {@class = "form-control"})
        </div>
        <span>
        <button class="btn btn-primary" type="submit">Submit</button>
            @Html.ActionLink("Cancel","AdminHome","Admin",null,new { @class = "btn btn-sm btn-danger" })
            </span>
    }
</div>

@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/CustomWeaponTinyMce.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/Validation-Default.js"></script>
    <script src="~/Scripts/app/WeaponPostValidation.js"></script>
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/app/LoginStyleSheet.css">
}
