@model ModelBinding101.Models.PersonVM
@{
    ViewBag.Title = "ViewModelBinding";
}

<h2>ViewModelBinding</h2>

@using (Html.BeginForm("ViewModelBinding", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Person Id</label>
        @Html.TextBoxFor(p => p.Person.PersonId, new { @class = "form-control" })
        @*<input type="text" name="PersonId" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>FirstName</label>
        @Html.TextBoxFor(p => p.Person.FirstName, new { @class = "form-control" })
        @*    <input type="text" name="FirstName" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @Html.TextBoxFor(p => p.Person.LastName, new { @class = "form-control" })
        @*<input type="text" name="LastName" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>City</label>
        @Html.TextBoxFor(p => p.Person.HomeAddress.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>State</label>
        @Html.DropDownListFor(p=>p.Person.HomeAddress.State,Model.StateList,new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Zip Code</label>
        @Html.TextBoxFor(p => p.Person.HomeAddress.ZipCode, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary">submit</button>
}