@model StabBlog.Models.ViewModels.TagBlogVM
@{
    ViewBag.Title = "blogHome";
}

<h2 class="Header">Historical Weaponry Guild Blog</h2>

<div class="tag-cloud">
    <div class="col-lg-12">

        @foreach (var tag in Model.TagList)
        {
            @Html.ActionLink("#" + tag.Text, "TagView", "Blog", new {id = tag.Text}, new {@class = "tag kind-" + tag.Category})
        }
    </div>
</div>


<div class="row catBlogHome">
<div class="blogHead">
    <p style="margin: 0px;">Categories</p>
</div>
        <div class="col-lg-12">
            @foreach (var cat in Model.AllCats)
            {
                @Html.ActionLink(cat.CategoryName, "CatView", "Blog", new { id = cat.CategoryId }, new { @class = "catLink"})
            }
        </div>
    </div>

@foreach (var blog in Model.BlogList)
{
    if (blog.PostStatus == true)
    {
        <div class="row">
            <div class="col-lg-12 singleBlogPost">

                <h3 class="blogTitle">@blog.Title</h3>

                <div class="blogHomeContent">
                    <p class="blogContent">@Html.Raw(blog.Content)</p>
                    @(Html.ActionLink("READ MORE", "SingleBlogView", "Blog", new {id = blog.BlogId}, new {@class = "readmore"}))
                </div>

                <hr/>

                <div class="row blogRow">
                    <div class="col-xs-4">
                        <h4 class="underline">Categorys</h4>
                        <div class="tag">
                            @foreach (var category in blog.Categories)
                            {
                                if (blog.PostStatus == true)
                                {
                                    <div class="tagContent">
                                        @Html.ActionLink(category.CategoryName, "CatView", "Blog", new {id = category.CategoryId}, new {@class = "catLinkTags"})
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <img src=@blog.ImagePath alt="image" style="height: 100px; width:auto" class="blogImage"/>
                    </div>


                    <div class="col-xs-4">
                        <h4 class="underline">#tags</h4>
                        <div class="tag">
                            @foreach (var tags in blog.Tags)
                            {
                                <div class="tagContent">@Html.ActionLink("#" + @tags.TagTitle, "TagView", "Blog", new { id = tags.TagTitle }, new { @class = "catLinkTags" })</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <hr/>
            </div>
        </div>

    }
}

@section scripts
{
    <script type="text/javascript">

        $(document)
            .ready(function onPageLoad() {
                var animatedProperties = {
                    paddingLeft: '50px',
                    paddingTop: '25px',
                    paddingBottom: '25px',
                    paddingRight: '50px',
                    opacity: 1
                };

                $('.tag-cloud').animate(animatedProperties, 500);
            });
    </script>

    <script src="~/Scripts/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                $(".blogHomeContent").dotdotdot({
                    after: "a.readmore"
                });
            })
    </script>
}